@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.hidden {
    display: none;
}
ul {
    padding: 0;
}



@media (min-width: 1200px) {
    .header {
        width: 100%;
        background: url(../images/banner-bg.jpg) no-repeat;
        background-size: cover;
        position: relative;
    }
    .header:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: cover;
        opacity: 0.6;
    }
    .conteiner-header {
        display: flex;
        width: 100%;
        color: white;
        z-index: 1;
        justify-content: center;
        flex-wrap: wrap;
    }
    .conteiner-logo {
        display: flex;
        width: 71%;
        margin-top: 1.81vw;
        z-index: 1;
    }

    .logo {
        flex: 1;
    }
    .logo-img {
        width: 10.84vw;
        height: 2.4vw;
    }
    .menu-list {
        display: flex;
        width: 27.72vw;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    .menu-list a {
        text-decoration: none;
        color: white;
    }
    .menu {
        font-family: OpenSans, Arial, sans-serif;
        font-size: 0.8vw;
        font-weight: 400;
        text-transform: uppercase;
    }
    .menu:hover {
        text-decoration: underline;
    }
    .menu-burger {
        display: none;
    }
    .header-intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding-bottom: 8.92vw;
        margin-top: 4.4vw;
    }
    .intro {
        width: 42.12vw;
        font-family: OpenSans, Arial, sans-serif;
        font-size: 2.71vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 4.3vw;
    }

    /* "Сейчас в тренде" */
    .section-trend {
        background-color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }
    .trend-title {
        font-size: 1.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .trend-title:after {
        content: '';
        display: block;
        width: 4.6vw;
	    height: 0.18vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }
    .trend-articles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1.4vw;
    }

    .trend-article {
        position: relative;
        display: flex;
        width: 24%;
        height: 19.2vw;
    }
    .article-img {
        width: 24.7vw;
    }
    .trend-article:after {
        content: '';
        width: 24.7vw;
        height: 19.2vw;
        position: absolute;
        background-color: #000000;
        background-size: contain;
        opacity: 0.6;
        z-index: 1;
        left: 0;
    }

    .border-title {
        position: absolute;
        border: 3px solid #b59f5b;
        bottom: 1vw;
        right: 1vw;
        width: 21.9vw;
        z-index: 2;
        box-sizing: border-box;
        padding: 1.8vw 2.8vw;
    }
    .trend-article:nth-child(even)>.border-title {
        padding: 1.8vw 1.8vw;
    }
    .article-title {
        text-transform: uppercase;
        font-size: 1.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.4vw;
        color: #ffffff;
        text-decoration: none;
    }
    .trend-article-title-block {
        display: flex;
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        margin-bottom: 0.7vw;
    }
    .trend-article-title {
        margin-right: 0.8vw;
        color: #b59f5b;
        text-decoration: none;
        list-style-type: none;
    }
    .trend-article-title:hover {
        text-decoration: underline;
    }

    /* ОСНОВНОЙ МОДУЛЬ  */
    .main-block {
        width: 72%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
    }
    .main-list-articles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main-article {
        display: flex;
        margin-top: 3.86vw;
    }
    .img-main-article {
        width: 23vw;
    }
    .body-main-article {
        display: flex;
        flex-direction: column;
        width: 25vw;
        padding-left: 1.87vw;
    }
    .main-list-category {
        display: flex;
        justify-content: flex-start;
    }
    .main-category {
        text-transform: uppercase;
        margin-right: 1.2vw;
        color: #b59f5b;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-decoration: none;
        list-style-type: none;
    }
    .main-category:hover {
        text-decoration: underline;
    }
    .main-article-title {
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.2vw;
        line-height: 1.45vw;
        margin-top: 1vw;
        width: 19.8vw;
    }
    .main-date-author {
        display: flex;
        margin-top: 2.11vw;
    }
    .main-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 0.73vw;
        color: #888888;
        margin-right: 1vw;
    }
    .main-author {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.73vw;
    }
    .main-article-text {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1vw;
        line-height: 1.33vw;
        margin: auto 0;
    }
    .line-after-article {
        display: none;
    }

    /* aside */
    .aside-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .aside-section {
        margin-top: 3.86vw;
    }
    .sidebar-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
        /*margin: 3.86vw auto 0 auto;*/
        text-align: center;
    }

    .sidebar-title:after {
        content: '';
        display: block;
        width: 3.92vw;
	    height: 0.18vw;
        background-color: #b59f5b;
        margin: 0.5vw auto 0 auto;
    }

    .sidebar-post {
        display: flex;
        margin-top: 1.5vw;
    }
    .sidebar-post-img {
        width: 4.22vw;
        margin-right: 1.2vw;
    }
    .sidebar-post-date-title {
        display: flex;
        flex-direction: column;
    }
    .sidebar-post-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 0.72vw;
        color: #888888;
    }
    .sidebar-post-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
        line-height: 1.08vw;
        width: 10.9vw;
    }
    /* поле для поиска */
    .form-search {
        display: flex;
        /*margin-top: 3.61vw;*/
        height: 3vw;
    }
    .search-field {
        box-sizing: border-box;
        width: 13.4vw;
        background-color: #f4f7f6;
        border: 0;
        padding-left: 1.2vw;
        font-size: 0.78vw;
    }
    .search-button {
        width: 3vw;
        background-color: #b59f5b;
        background-image: url(../svg/search.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
    }
    .form-subscribe {
        display: flex;
        flex-direction: column;
    }
    .subscribe-field {
        box-sizing: border-box;
        width: 16.38vw;
        background-color: #f4f7f6;
        border: 0;
        font-size: 0.78vw;
        height: 3vw;
        padding-left: 1.2vw;
        margin-top: 1.39vw;
    }
    .subscribe-button {
        width: 16.38vw;
        background-color: #b59f5b;
        border: 0;
        margin-top: 1vw;
        color: white;
        height: 3vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
    }

    /* ТЕГИ */
    .tags-block {
        width: 16.38vw;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.38vw;
    }
    .tag {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.72vw;
        text-transform: uppercase;
        border: 0.18vw solid #eeeeee;
        box-sizing: border-box;
        padding: 0.48vw 0.78vw;
        margin-right: 0.3vw;
        margin-bottom: 0.36vw;
        list-style-type: none;
    }

    /* Категории */
    .section-categories {
        width: 100%;
        margin-top: 3.86vw;
    }
    .sidebar-categories {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sidebar-categ {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
        height: 2.71vw;
        border-bottom: 0.18vw solid #eeeeee;
        display: flex;
        align-items: center;
    }
    .sidebar-categ-num {
        font-size: 0.72vw;
        margin-left: 0.12vw;
        color: #b59f5b;
    }

    /* SHOP */
    .shop-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }

    .shop-title {
        font-size: 1.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    .shop-title:after {
        content: '';
        display: block;
        width: 3.92vw;
	    height: 0.18vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }
    .shop-cards {
        display: flex;
        justify-content: space-between;
        margin-top: 1.8vw;
        width: 72%;
        padding: 0 12px;
    }
    .card {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 20.84vw;
        border: 0.18vw solid #b59f5b;
        padding: 0 1.1vw;
        box-sizing: border-box;
        height: 100%;
        margin-top: -1.8vw;
    }
    .card-img {
        width: 18.1vw;
    }
    .card-title {
        font-size: 1.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 3.31vw;
    }
    .card-description {
        font-size: 0.9vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        line-height: 1.32vw;
        margin-top: 0.6vw;
    }
    .description-link {
        color: #b59f5b;
        text-decoration: none;
    }
    .description-link:hover {
        text-decoration: underline;
    }
    .card-price-buy {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 1.56vw;
        margin-bottom: 1.74vw;
    }
    .card-price {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.2vw;
        line-height: 1.2vw;
        margin-bottom: 0.2vw;
    }
    .card-last-price {
        text-decoration: line-through;
        font-size: 0.84vw;
    }
    .price-rub-line {
        line-height: 5px;
        width: 0.5em;
        border-bottom: 1px solid #000;
        display: inline-block;
    }
    .card-buy {
        width: 8.43vw;
        background-color: #b59f5b;
        border: 0;
        color: white;
        height: 2.77vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    /* ФУТЕР */
    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.85vw;
    }
    .social-block {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 4.88vw;
        width: 72%;
        background-color: #f4f7f6;
        padding: 0 12px;
    }
    .icon-social {
        width: 1.6vw;
        margin: 0 1vw;
        list-style-type: none;
    }
    .addr {
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 1.6vw;
    }
    .twitter {
        background-image: url(../svg/004-twitter.svg);
    }
    .pinterest {
        background-image: url(../svg/001-pinterest.svg);
    }
    .facebook {
        background-image: url(../svg/002-facebook-logo.svg);
    }
    .instagram {
        background-image: url(../svg/005-instagram.svg);
    }
    .tumblr {
        background-image: url(../svg/003-tumblr.svg);
    }
    .copy-block {
        margin-top: 3.5vw;
        margin-bottom: 3vw;
        font-size: 0.72vw;
        color: #999999;
    }

    /* ПОПАП */
    .popup-block {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 4;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .popup {
        width: 23.49vw;
        height: 35.54vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popup-title {
        font-size: 1.2vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 3vw;
    }
    .popup-line {
        display: block;
        width: 3.92vw;
        height: 0.2vw;
        background-color: #b59f5b;
        margin-top: 0.72vw;
    }
    .popup-form {
        width: 19.9vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 0.78vw;
    }
    .popup-list {
        width: 100%;
        height: 2.71vw;
        border: 0;
        font-size: 0.78vw;
        background-color: #f4f7f6;
        background-image: url(../svg/form-arrows.svg);
        background-size: 3% 40%;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        margin-top: 0.8vw;
        padding-left: 1.59vw;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .popup-form-ques {
        margin-top: 1.56vw;
    }
    .popup-radio {
        display: flex;
        margin-top: 0.72vw;
    }

    .radio-block {
        position: relative;
        margin-right: 1vw;
    }

    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .radio-label {
        padding-left: 1.2vw;
    }
    .radio-label:before {
        content: '';
        background-image: url(../svg/form-empty-circle.svg);
        background-size: 1vw 1vw;
        background-repeat: no-repeat;
        display: block;
        width: 1vw;
        height: 1vw;
        position: absolute;
        top: 0.08vw;
        left: 0;
    }

    .radio:checked + .radio-label:before {
        background-image: url(../svg/form-circle.svg);
    }
    .popup-text {
        width: 100%;
        height: 7.83vw;
        font-size: 0.78vw;
        resize: none;
        border: 0;
        background-color: #f4f7f6;
        padding: 1.2vw;
        box-sizing: border-box;
        margin-top: 0.6vw;
    }
    .popup-button {
        width: 100%;
        background-color: #b59f5b;
        border: 0;
        margin-top: 1.6vw;
        color: white;
        height: 2.8vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        text-transform: uppercase;
    }

    .popup-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .block-popup-close {
        width: 24vw;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.4vw;
    }

    .popup-close {
        width: 1.26vw;
        height: 1.26vw;
        background-image: url(../svg/form-x.svg);
        background-size: 1.26vw;
        background-repeat: no-repeat;
        display: block;
    }

    .popup-checkbox:checked + .popup-block {
        display: none;
    }

}




@media (min-width: 640px) and (max-width: 1199px) {

    .header {
        width: 100vw;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .header:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: cover;
        opacity: 0.6;
    }
    .conteiner-header {
        display: flex;
        width: 100%;
        color: white;
        z-index: 1;
        justify-content: center;
        flex-wrap: wrap;
    }

    .conteiner-logo {
        display: flex;
        width: 90%;
        margin-top: 5.5%;
        z-index: 1;
    }
    .logo {
        flex: 1;
    }
    .logo-img {
        width: 20.6vw;
    }

    .menu-list {
        display: none;
    }
    .menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line {
        display: block;
        width: 3.2vw;
	    height: 0.5vw;
        background-color: white;
    }

    .header-intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: 8vw;
        padding-bottom: 11vw;
    }
    .intro {
        width: 80vw;
        font-family: OpenSans, Arial, sans-serif;
        font-size: 5.2vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    /* "Сейчас в тренде" */
    .section-trend {
        background-color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }
    .trend-title {
        font-size: 2.6vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .trend-title:after {
        content: '';
        display: block;
        width: 10vw;
	    height: 0.4vw;
        background-color: #b59f5b;
        margin: 1vw auto 0 auto;
    }

    .trend-articles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1.8vw;
    }

    .trend-article {
        position: relative;
        display: flex;
        width: 24%;
        height: 19.2vw;
    }
    .article-img {
        width: 24.7vw;
    }
    .trend-article:after {
        content: '';
        width: 24.7vw;
        height: 19.2vw;
        position: absolute;
        background-color: #000000;
        background-size: contain;
        opacity: 0.6;
        z-index: 1;
        left: 0;
    }
    .border-title {
        position: absolute;
        border: 3px solid #b59f5b;
        bottom: 1vw;
        right: 1vw;
        width: 21.9vw;
        z-index: 2;
        box-sizing: border-box;
        padding: 1.8vw 2.8vw;
    }
    .trend-article:nth-child(even)>.border-title {
        padding: 1.8vw 1.7vw;
    }
    .article-title {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.4vw;
    }
    .trend-article-title-block {
        display: flex;
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 0.84vw;
        margin-bottom: 0.7vw;
    }
    .trend-article-title {
        margin-right: 0.8vw;
        color: #b59f5b;
        text-decoration: none;
        list-style-type: none;
    }
    .trend-article-title:hover {
        text-decoration: underline;
    }

    /* ОСНОВНОЙ МОДУЛЬ */
    .main-block {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .main-list-articles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 50.8vw;
    }
    .main-article {
        margin-top: 6.2vw;
    }
    .img-main-article {
        width: 50.8vw;
    }
    .body-main-article {
    }
    .main-list-category {
        display: flex;
        justify-content: flex-start;
        margin-top: 2.21vw;
    }
    .main-category {
        text-transform: uppercase;
        margin-right: 1.2vw;
        color: #b59f5b;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-decoration: none;
    }
    .main-category:hover {
        text-decoration: underline;
    }
    .main-article-title {
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 2.21vw;
        line-height: 2.86vw;
        margin-top: 2.21vw;
    }
    .main-date-author {
        display: flex;
        margin-top: 5.1vw;
    }
    .main-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.56vw;
        color: #888888;
        margin-right: 1.95vw;
    }
    .main-author {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.56vw;
    }
    .main-article-text {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.95vw;
        line-height: 2.86vw;
        margin-top: 4.82vw;
    }
    .line-after-article {
        display: block;
        width: 100%;
	    height: 0.4vw;
        background-color: #eeeeee;
        margin-top: 3.25vw;
    }

    /* aside */
    .aside-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*align-items: center;*/
        padding-left: 4.56vw;
    }
    .aside-section {
        margin-top: 6.2vw;
    }
    .sidebar-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        /*margin: 6.2vw auto 0 auto;*/
        text-align: center;
    }

    .sidebar-title:after {
        content: '';
        display: block;
        width: 8.46vw;
	    height: 0.39vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }

    .sidebar-post {
        display: flex;
        margin-top: 3.64vw;
    }
    .sidebar-post-img {
        width: 9.11vw;
        margin-right: 2.6vw;
    }
    .sidebar-post-date-title {
        display: flex;
        flex-direction: column;
    }
    .sidebar-post-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.56vw;
        color: #888888;
    }
    .sidebar-post-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        line-height: 2.34vw;
        width: 23.57vw;
    }
    /* поле для поиска */
    .form-search {
        display: flex;
        /*margin-top: 7.81vw;*/
        height: 6.51vw;
    }
    .search-field {
        box-sizing: border-box;
        width: 28.77vw;
        background-color: #f4f7f6;
        border: 0;
        padding-left: 2.34vw;
        font-size: 1.69vw;
    }
    .search-button {
        width: 6.51vw;
        background-color: #b59f5b;
        background-image: url(../svg/search.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
    }
    .form-subscribe {
        display: flex;
        flex-direction: column;
    }
    .subscribe-field {
        box-sizing: border-box;
        width: 100%;
        background-color: #f4f7f6;
        border: 0;
        font-size: 1.69vw;
        height: 6.51vw;
        padding-left: 1.2vw;
        margin-top: 3vw;
    }
    .subscribe-button {
        width: 100%;
        background-color: #b59f5b;
        border: 0;
        margin-top: 2.21vw;
        color: white;
        height: 6.51vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
    }
    /* ТЕГИ */
    .tags-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.1vw;
    }
    .tag {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.56vw;
        text-transform: uppercase;
        border: 0.39vw solid #eeeeee;
        box-sizing: border-box;
        padding: 0.91vw 1.82vw;
        margin-right: 0.65vw;
        margin-bottom: 0.65vw;
        list-style-type: none;
    }
    /* Категории */
    .section-categories {
        width: 100%;
        margin-top: 6.2vw;
    }
    .sidebar-categories {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sidebar-categ {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        height: 6vw;
        border-bottom: 0.18vw solid #eeeeee;
        display: flex;
        align-items: center;
    }
    .sidebar-categ-num {
        font-size: 1.56vw;
        margin-left: 0.65vw;
        color: #b59f5b;
    }

    /* SHOP */
    .shop-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }

    .shop-title {
        font-size: 2.6vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    .shop-title:after {
        content: '';
        display: block;
        width: 9vw;
	    height: 0.4vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }

    .shop-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        padding: 0 12px;
    }
    .card {
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.77vw;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 43.22vw;
        border: 0.39vw solid #b59f5b;
        padding: 0 2.86vw;
        box-sizing: border-box;
        height: 100%;
        margin-top: -4.16vw;
    }
    .card-img {
        width: 38vw;
    }
    .card-title {
        font-size: 2.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 6vw;
    }
    .card-description {
        font-size: 1.95vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        line-height: 2.86vw;
        margin-top: 2.21vw;
    }
    .description-link {
        color: #b59f5b;
        text-decoration: none;
    }
    .description-link:hover {
        text-decoration: underline;
    }
    .card-price-buy {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 1.56vw;
        margin-bottom: 1.74vw;
    }
    .card-price {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 2.6vw;
        line-height: 2.2vw;
        margin-bottom: 1.43vw;
    }
    .card-last-price {
        text-decoration: line-through;
        font-size: 1.82vw;
    }
    .price-rub-line {
        line-height: 7px;
        width: 0.5em;
        border-bottom: 1px solid #000;
        display: inline-block;
    }
    .card-buy {
        width: 18.1vw;
        background-color: #b59f5b;
        border: 0;
        color: white;
        height: 6.38vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    /* ФУТЕР */
    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.85vw;
    }
    .social-block {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 10.68vw;
        width: 90%;
        background-color: #f4f7f6;
        padding: 0;
    }

    .icon-social {
        width: 2.86vw;
        margin: 0 2vw;
        list-style-type: none;
    }
    .addr {
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 2.86vw;
    }
    .twitter {
        background-image: url(../svg/004-twitter.svg);
    }
    .pinterest {
        background-image: url(../svg/001-pinterest.svg);
    }
    .facebook {
        background-image: url(../svg/002-facebook-logo.svg);
    }
    .instagram {
        background-image: url(../svg/005-instagram.svg);
    }
    .tumblr {
        background-image: url(../svg/003-tumblr.svg);
    }

    .copy-block {
        margin-top: 6.38vw;
        margin-bottom: 4.68vw;
        font-size: 1.56vw;
        color: #999999;
    }

    /* ПОПАП */
    .popup-block {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 4;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .popup {
        width: 50.8vmin;
        height: 77.3vmin;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popup-title {
        font-size: 2.34vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 6.9vmin;
    }
    .popup-line {
        display: block;
        width: 8.5vmin;
        height: 0.4vmin;
        background-color: #b59f5b;
        margin-top: 1.8vmin;
    }
    .popup-form {
        width: 43vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.69vmin;
    }
    .popup-list {
        width: 100%;
        height: 6vmin;
        border: 0;
        font-size: 1.69vmin;
        background-color: #f4f7f6;
        background-image: url(../svg/form-arrows.svg);
        background-size: 3% 40%;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        margin-top: 1.56vmin;
        padding-left: 2.34vmin;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .popup-form-ques {
        margin-top: 4.16vmin;
    }
    .popup-radio {
        display: flex;
        margin-top: 1.56vmin;
    }

    .radio-block {
        position: relative;
        margin-right: 2vmin;
    }

    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .radio-label {
        padding-left: 3.5vmin;
    }
    .radio-label:before {
        content: '';
        background-image: url(../svg/form-empty-circle.svg);
        background-size: 3vmin 3vmin;
        background-repeat: no-repeat;
        display: block;
        width: 3vmin;
        height: 3vmin;
        position: absolute;
        top: -0.2vmin;
        left: 0;
    }

    .radio:checked + .radio-label:before {
        background-image: url(../svg/form-circle.svg);
    }
    .popup-text {
        width: 100%;
        height: 16.8vmin;
        font-size: 1.69vmin;
        resize: none;
        border: 0;
        background-color: #f4f7f6;
        padding: 2.5vmin;
        box-sizing: border-box;
        margin-top: 1.56vmin;
    }
    .popup-button {
        width: 100%;
        background-color: #b59f5b;
        border: 0;
        margin-top: 3.5vmin;
        color: white;
        height: 6vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vmin;
        text-transform: uppercase;
    }

    .popup-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .block-popup-close {
        width: 50.8vmin;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.78vmin;
    }

    .popup-close {
        width: 3.51vmin;
        height: 3.51vmin;
        background-image: url(../svg/form-x.svg);
        background-size: 3.51vmin;
        background-repeat: no-repeat;
        display: block;
    }

    .popup-checkbox:checked + .popup-block {
        display: none;
    }

}



@media (min-width: 640px) and (max-width: 1199px) and (orientation: portrait){

    .trend-articles {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 1.8vw;
        flex-wrap: wrap;
    }

    .trend-article {
        position: relative;
        display: flex;
        width: 50%;
        height: 32vw;
        margin-bottom: 0.5vw;
    }
    .trend-article:nth-child(odd) {
        width: 49%;
        margin-right: 0.8vw;
    }
    .article-img {
        width: 100%;
    }
    .trend-article:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: contain;
        opacity: 0.6;
        z-index: 1;
        left: 0;
    }
    .border-title {
        position: absolute;
        border: 3px solid #b59f5b;
        bottom: 6.5%;
        right: 6%;
        width: 88%;
        z-index: 2;
        box-sizing: border-box;
        padding: 1.8vw 3.9vw;
    }
    .trend-article:nth-child(even)>.border-title {
        padding: 1.8vw 3.7vw;
    }
    .article-title {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        line-height: 2.86vw;
    }
    .trend-article-title-block {
        display: flex;
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.84vw;
        margin-bottom: 0.7vw;
    }
    .trend-article-title {
        margin-right: 0.8vw;
        color: #b59f5b;
        text-decoration: none;
        list-style-type: none;
    }
    .trend-article-title:hover {
        text-decoration: underline;
    }

}



@media (max-width: 639px){
    .header {
        width: 100vw;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .header:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: cover;
        opacity: 0.6;
    }
    .conteiner-header {
        display: flex;
        width: 100%;
        color: white;
        z-index: 1;
        justify-content: center;
        flex-wrap: wrap;
    }
    .conteiner-logo {
        display: flex;
        width: 90%;
        margin-top: 5.5%;
        z-index: 1;
    }
    .logo {
        flex: 1;
    }
    .logo-img {
        width: 20.6vw;
    }
    .menu-list {
        display: none;
    }
    .menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line {
        display: block;
        width: 24px;
	    height: 4px;
        background-color: white;
    }

    .header-intro {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
        padding-bottom: 11vw;
        z-index: 1;
    }
    .intro {
        width: 80vw;
        font-family: OpenSans, Arial, sans-serif;
        font-size: 5.2vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    /* "Сейчас в тренде" */
    .section-trend {
        background-color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }
    .trend-title {
        font-size: 2.6vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .trend-title:after {
        content: '';
        display: block;
        width: 10vw;
	    height: 0.4vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }

    .trend-articles {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 1.8vw;
        flex-wrap: wrap;
    }

    .trend-article {
        position: relative;
        display: flex;
        width: 50%;
        height: 32vw;
        margin-bottom: 0.5vw;
    }
    .trend-article:nth-child(odd) {
        width: 49%;
        margin-right: 0.8vw;
    }
    .article-img {
        width: 100%;
    }
    .trend-article:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: contain;
        opacity: 0.6;
        z-index: 1;
        left: 0;
    }
    .border-title {
        position: absolute;
        border: 3px solid #b59f5b;
        bottom: 6.5%;
        right: 6%;
        width: 88%;
        z-index: 2;
        box-sizing: border-box;
        padding: 1.8vw 3.9vw;
    }
    .trend-article:nth-child(even)>.border-title {
        padding: 1.8vw 3.7vw;
    }
    .article-title {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.21vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        line-height: 2.86vw;
    }
    .trend-article-title-block {
        display: flex;
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.84vw;
        margin-bottom: 0.7vw;
    }
    .trend-article-title {
        margin-right: 0.8vw;
        color: #b59f5b;
        text-decoration: none;
        list-style-type: none;
    }
    .trend-article-title:hover {
        text-decoration: underline;
    }

    /* ОСНОВНОЙ МОДУЛЬ */
    .main-block {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .main-list-articles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 50.8vw;
    }
    .main-article {
        margin-top: 6.2vw;
    }
    .img-main-article {
        width: 50.8vw;
    }
    .body-main-article {
    }
    .main-list-category {
        display: flex;
        justify-content: flex-start;
        margin-top: 2.21vw;
    }
    .main-category {
        text-transform: uppercase;
        margin-right: 1.2vw;
        color: #b59f5b;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-decoration: none;
    }
    .main-category:hover {
        text-decoration: underline;
    }
    .main-article-title {
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 2.21vw;
        line-height: 2.86vw;
        margin-top: 2.21vw;
    }
    .main-date-author {
        display: flex;
        margin-top: 5.1vw;
    }
    .main-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.56vw;
        color: #888888;
        margin-right: 1.95vw;
    }
    .main-author {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.56vw;
    }
    .main-article-text {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.95vw;
        line-height: 2.86vw;
        margin: auto 0;
    }
    .line-after-article {
        display: block;
        width: 100%;
	    height: 0.4vw;
        background-color: #eeeeee;
        margin-top: 3.25vw;
    }

    /* aside */
    .aside-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 4.56vw;
    }
    .aside-section {
        margin-top: 6.2vw;
    }
    .sidebar-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        /*margin: 6.2vw auto 0 auto;*/
        text-align: center;
    }

    .sidebar-title:after {
        content: '';
        display: block;
        width: 8.46vw;
	    height: 0.39vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }

    .sidebar-post {
        display: flex;
        margin-top: 3.64vw;
    }
    .sidebar-post-img {
        width: 9.11vw;
        margin-right: 2.6vw;
    }
    .sidebar-post-date-title {
        display: flex;
        flex-direction: column;
    }
    .sidebar-post-date {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.56vw;
        color: #888888;
    }
    .sidebar-post-title {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        line-height: 2.34vw;
        width: 23.57vw;
    }
    /* поле для поиска */
    .form-search {
        display: flex;
        /*margin-top: 7.81vw;*/
        height: 6.51vw;
    }
    .search-field {
        box-sizing: border-box;
        width: 28.77vw;
        background-color: #f4f7f6;
        border: 0;
        padding-left: 2.34vw;
        font-size: 1.69vw;
    }
    .search-button {
        width: 6.51vw;
        background-color: #b59f5b;
        background-image: url(../svg/search.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
    }
    .form-subscribe {
        display: flex;
        flex-direction: column;
    }
    .subscribe-field {
        box-sizing: border-box;
        width: 100%;
        background-color: #f4f7f6;
        border: 0;
        font-size: 1.69vw;
        height: 6.51vw;
        padding-left: 1.2vw;
        margin-top: 3vw;
    }
    .subscribe-button {
        width: 100%;
        background-color: #b59f5b;
        border: 0;
        margin-top: 2.21vw;
        color: white;
        height: 6.51vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
    }
    /* ТЕГИ */
    .tags-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.1vw;
    }
    .tag {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.56vw;
        text-transform: uppercase;
        border: 0.39vw solid #eeeeee;
        box-sizing: border-box;
        padding: 0.91vw 1.82vw;
        margin-right: 0.65vw;
        margin-bottom: 0.65vw;
        list-style-type: none;
    }

    /* Категории  */
    .section-categories {
        width: 100%;
        margin-top: 6.2vw;
    }
    .sidebar-categories {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sidebar-categ {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        height: 6vw;
        border-bottom: 0.18vw solid #eeeeee;
        display: flex;
        align-items: center;
    }
    .sidebar-categ-num {
        font-size: 1.56vw;
        margin-left: 0.65vw;
        color: #b59f5b;
    }

    /* SHOP */

    .shop-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.8vw;
    }

    .shop-title {
        font-size: 2.6vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    .shop-title:after {
        content: '';
        display: block;
        width: 9vw;
	    height: 0.4vw;
        background-color: #b59f5b;
        margin: 0.8vw auto 0 auto;
    }

    .shop-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
    }
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.77vw;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 52.32vw;
        border: 0.39vw solid #b59f5b;
        padding: 0 3.6vw;
        box-sizing: border-box;
        height: 100%;
        margin-top: -5.47vw;
    }
    .card-img {
        width: 45vw;
    }
    .card-title {
        font-size: 2.66vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 9vw;
    }
    .card-description {
        font-size: 2.35vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        line-height: 3.4vw;
        margin-top: 2.21vw;
    }
    .description-link {
        color: #b59f5b;
        text-decoration: none;
    }
    .description-link:hover {
        text-decoration: underline;
    }
    .card-price-buy {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 4vw;
        margin-bottom: 4.5vw;
    }
    .card-price {
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 3.1vw;
        line-height: 2.6vw;
        margin-bottom: 1.43vw;
    }
    .card-last-price {
        text-decoration: line-through;
        font-size: 2.2vw;
    }
    .price-rub-line {
        line-height: 7px;
        width: 0.5em;
        border-bottom: 1px solid #000;
        display: inline-block;
    }
    .card-buy {
        width: 18.1vw;
        background-color: #b59f5b;
        border: 0;
        color: white;
        height: 6.38vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    /* ФУТЕР */
    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.85vw;
    }
    .social-block {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 10.68vw;
        width: 90%;
        background-color: #f4f7f6;
        padding: 0;
    }

    .icon-social {
        width: 2.86vw;
        margin: 0 2vw;
        list-style-type: none;
    }
    .addr {
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 2.86vw;
    }
    .twitter {
        background-image: url(../svg/004-twitter.svg);
    }
    .pinterest {
        background-image: url(../svg/001-pinterest.svg);
    }
    .facebook {
        background-image: url(../svg/002-facebook-logo.svg);
    }
    .instagram {
        background-image: url(../svg/005-instagram.svg);
    }
    .tumblr {
        background-image: url(../svg/003-tumblr.svg);
    }

    .copy-block {
        margin-top: 6.38vw;
        margin-bottom: 4.68vw;
        font-size: 1.56vw;
        color: #999999;
    }

    /* ПОПАП */
    .popup-block {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 4;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .popup {
        width: 50.8vmin;
        height: 77.3vmin;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popup-title {
        font-size: 2.34vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 6.9vmin;
    }
    .popup-line {
        display: block;
        width: 8.5vmin;
        height: 0.4vmin;
        background-color: #b59f5b;
        margin-top: 1.8vmin;
    }
    .popup-form {
        width: 43vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.69vmin;
    }
    .popup-list {
        width: 100%;
        height: 6vmin;
        border: 0;
        font-size: 1.69vmin;
        background-color: #f4f7f6;
        background-image: url(../svg/form-arrows.svg);
        background-size: 3% 40%;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        margin-top: 1.56vmin;
        padding-left: 2.34vmin;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .popup-form-ques {
        margin-top: 4.16vmin;
    }
    .popup-radio {
        display: flex;
        margin-top: 1.56vmin;
    }

    .radio-block {
        position: relative;
        margin-right: 2vmin;
    }

    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .radio-label {
        padding-left: 3.5vmin;
    }
    .radio-label:before {
        content: '';
        background-image: url(../svg/form-empty-circle.svg);
        background-size: 3vmin 3vmin;
        background-repeat: no-repeat;
        display: block;
        width: 3vmin;
        height: 3vmin;
        position: absolute;
        top: -0.2vmin;
        left: 0;
    }

    .radio:checked + .radio-label:before {
        background-image: url(../svg/form-circle.svg);
    }
    .popup-text {
        width: 100%;
        height: 16.8vmin;
        font-size: 1.69vmin;
        resize: none;
        border: 0;
        background-color: #f4f7f6;
        padding: 2.5vmin;
        box-sizing: border-box;
        margin-top: 1.56vmin;
    }
    .popup-button {
        width: 100%;
        background-color: #b59f5b;
        border: 0;
        margin-top: 3.5vmin;
        color: white;
        height: 6vmin;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.82vmin;
        text-transform: uppercase;
    }

    .popup-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    .block-popup-close {
        width: 50.8vmin;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.78vmin;
    }

    .popup-close {
        width: 3.51vmin;
        height: 3.51vmin;
        background-image: url(../svg/form-x.svg);
        background-size: 3.51vmin;
        background-repeat: no-repeat;
        display: block;
    }

    .popup-checkbox:checked + .popup-block {
        display: none;
    }

}




@media (max-width: 639px) and (orientation: portrait) {

    .trend-articles {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 1.8vw;
        flex-wrap: wrap;
    }


    .trend-article {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0.5vw;
    }
    .trend-article:nth-child(odd) {
        width: 100%;
        margin-right: 0;
    }
    .article-img {
        width: 100%;
    }
    .trend-article:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        background-size: contain;
        opacity: 0.6;
        z-index: 1;
        left: 0;
    }
    .border-title {
        position: absolute;
        border: 3px solid #b59f5b;
        bottom: 6.5%;
        right: 6%;
        width: 88%;
        z-index: 2;
        box-sizing: border-box;
        padding: 1.8vw 3.9vw;
    }
    .trend-article:nth-child(even)>.border-title {
        padding: 1.8vw 3.7vw;
    }
    .article-title {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.66vw;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        line-height: 2.86vw;
    }
    .trend-article-title-block {
        display: flex;
        text-transform: uppercase;
        font-family: OpenSans, Arial, sans-serif;
        font-weight: 700;
        font-size: 2.3vw;
        margin-bottom: 0.7vw;
    }
    .trend-article-title {
        margin-right: 0.8vw;
        color: #b59f5b;
        text-decoration: none;
        list-style-type: none;
    }
    .trend-article-title:hover {
        text-decoration: underline;
    }

}


